<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button mat-tooltip="Série temporal" tooltip-position="below">
            <mat-icon>alarm</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>cloud_download</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>filter_list</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>add_box</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
